<nav color="default">
    <mat-toolbar class="container">
        <!-- left hande side -->
        <div left-side>
            <!-- home link -->
            <a mat-button routerLinkActive="activeLink" routerLink="/home">
                Home
            </a>
            <!-- cart link -->
            <a mat-button routerLinkActive="activeLink" routerLink="shopping/cart" [class.active-skeleton]="!totalItemCount">
                <mat-icon>
                    shopping_cart
                </mat-icon>
                <div class="skeleton skeleton-min-item"></div>
                <ng-container *ngIf="totalItemCount">
                    <span total-item>{{totalItemCount}}</span>
                </ng-container>
            </a>
        </div>
        <!-- right hande side -->
        <div right-side [class.active-skeleton]="!activeUser">
            <!-- profile menu -->
            <div [class.clear]="isDataFetch" profile [matMenuTriggerFor]="menu" (menuClosed)="!toggleMenuIcon"
                (menuOpened)="!toggleMenuIcon">

                <!-- profile image -->
                <div *ngIf="!isDataFetch" class="skeleton skeleton-img-logo">
                    <img *ngIf="activeUser" [src]="activeUser.photoURL" loading="eager" (load)="profileIsLoaded=true">
                </div>
                
                <!-- name and arrow -->
                <div *ngIf="!isDataFetch" class="skeleton skeleton-text">
                    <div class="profile-name" *ngIf="activeUser">
                        <span> {{activeUser.userName | maxLength:10 }}</span>
                        <mat-icon>keyboard_arrow_down</mat-icon>
                    </div>
                </div>
            </div>
            <!-- profile menu -->

            <mat-menu #menu="matMenu" yPosition="below">
                <div class="matBtn">
                    <span class="img-logo">
                        <img [src]="activeUser?.photoURL">
                    </span>
                    <h4>{{activeUser?.userName}}</h4>
                </div>

                <button mat-menu-item routerLinkActive="activeLink" routerLink="shopping/orders">My Orders</button>
                <button *ngIf="activeUser?.isAdmin" mat-menu-item routerLinkActive="activeLink"
                    routerLink="admin/orders">Manage Orders</button>
                <button *ngIf="activeUser?.isAdmin" mat-menu-item routerLinkActive="activeLink"
                    routerLink="admin/products">Manage Products</button>
                <button mat-menu-item routerLinkActive="active" routerLink="memeber/login" (click)="auth.logout()">Log
                    Out</button>
            </mat-menu>

            <!-- memeber ship option -->
            <ng-container *ngIf="isDataFetch">
                <button mat-button routerLink="memeber/login">logIn</button>
                <a mat-button routerLinkActive="linkActive" routerLink="memeber/signup">Regisiter </a>
            </ng-container>

        </div>
    </mat-toolbar>
</nav>