<nav color="default">
    <mat-toolbar class="container">
        <!-- left hande side -->
        <div left-side>
            <!-- home link -->
            <a mat-button routerLinkActive="activeLink" routerLink="/home">
                Home
            </a>
            <!-- cart link -->
            <a mat-button routerLinkActive="activeLink" routerLink="cart">
                <mat-icon >
                    shopping_cart
                </mat-icon>
                <span total-Quantity *ngIf="cartModel$ | async as cartModel">{{cartModel.totalItemCount}}</span>
            </a>

        </div>

        <!-- right hande side -->
        <div right-side>
            <!-- profile menu -->
            <button profile mat-button *ngIf="user.ActiveUser as user ;else annomusUser" [matMenuTriggerFor]="menu"
                (menuClosed)="!toggleMenuIcon" (menuOpened)="!toggleMenuIcon">
                <img *ngIf="user.photoURL" [src]="user.photoURL">
                <img *ngIf="!user.photoURL" src="../../../assets/index.png">
                {{user?.userName}}
            </button>
            <mat-menu #menu="matMenu" yPosition="below">
                <button mat-menu-item routerLinkActive="activeLink" routerLink="orders">My Orders</button>
                <button *ngIf="user.ActiveUser?.isAdmin" mat-menu-item routerLinkActive="activeLink"
                    routerLink="admin/orders">Manage Orders</button>
                <button *ngIf="user.ActiveUser?.isAdmin" mat-menu-item routerLinkActive="activeLink"
                    routerLink="admin/products">Manage Products</button>
                <button mat-menu-item routerLinkActive="active" routerLink="login" (click)="auth.logout()">Log
                    Out</button>
            </mat-menu>

            <ng-template #annomusUser>
                <button mat-button routerLink="login">logIn</button>
                <a mat-button routerLinkActive="linkActive" routerLink="signup">Regisiter </a>
            </ng-template>

        </div>
    </mat-toolbar>
</nav>