.row-reverse {
    flex-direction: row-reverse;
}

.align-center {
    align-items: center;
}

h1 {
    margin: auto;
}

.heading {
    margin-right: 25px;

    h1 {
        font-size: 20px;
    }
}

