<section>
    <button toggle mat-icon-button (click)="drawer.toggle()">
        <mat-icon *ngIf="!drawer.opened">menu</mat-icon>
        <mat-icon *ngIf="drawer.opened">close</mat-icon>
    </button>
    <mat-drawer-container>
        <!-- side navbar -->

        <mat-drawer #drawer [opened]="true" mode="side" class="mat-elevation-z4 "
            [class.active-skeleton]="categories[0].skeleton">
            <h4 class="skeleton skeleton-text__categorey">Categories</h4>
            <mat-divider color="default"></mat-divider>
            <!-- category menu -->
            <div class="menu">
                <!-- category item -->
                <ng-container *ngIf="categories">
                    <div class="menu-item">
                        <a mat-button [class.activeLink]="!Activecategory" class="skeleton skeleton-text__categorey"
                            routerLink="/">
                            All Categories
                        </a>
                    </div>

                    <div class="menu-item" *ngFor="let category of categories">
                        <a class="skeleton skeleton-text__categorey" mat-button
                            routerLinkActive="category.skeleton?'': 'activeLink'" routerLink="/"
                            [queryParams]="{'category':category.key}"> {{category.name}} </a>
                    </div>
                </ng-container>
            </div>

        </mat-drawer>

        <!-- page content -->
        <mat-drawer-content>
            <!-- page content -->
            <div class="content">
                <mat-grid-list [cols]="cols" rowHeight="40vh" gutterSize="10px">
                    <mat-grid-tile *ngFor="let product of filteredProducts ">
                        <card [product]="product" [cartModel]="cartShopping" (load)="isLoaded($event)"></card>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</section>