<section>
    <button toggle mat-icon-button (click)="drawer.toggle()">
        <mat-icon *ngIf="!drawer.opened">menu</mat-icon>
        <mat-icon *ngIf="drawer.opened">close</mat-icon>
    </button>
    <mat-drawer-container>
        <!-- side navbar -->

        <mat-drawer #drawer [opened]="true" mode="side" class="mat-elevation-z4 ">
            <h4>Categories</h4>
            <mat-divider color="default"></mat-divider>
            <!-- category menu -->
            <div class="menu">
                <!-- category item -->
                <ng-container *ngIf="categories">
                    <div class="menu-item ">
                        <a mat-button [class.activeLink]="!category" routerLink="/">All
                            Categories</a>
                    </div>
                    <div class="menu-item" *ngFor="let category of categories">
                        <a mat-button routerLinkActive="activeLink" routerLink="/"
                            [queryParams]="{'category':category.key}"> {{category.name}} </a>
                    </div>
                </ng-container>
            </div>

        </mat-drawer>

        <!-- page content -->
        <mat-drawer-content>
            <!-- page content -->
            <div class="content">
                <mat-grid-list [cols]="cols" rowHeight="50vh" gutterSize="10px">
                    <!-- place holder for data until data load -->
                    <ng-container *ngIf="loading">
                        <mat-grid-tile *ngFor="let index of [].constructor(8)">
                            <card-placeholder></card-placeholder>
                        </mat-grid-tile>
                    </ng-container>

                    <!-- display actual data -->

                    <mat-grid-tile *ngFor="let product of filteredProducts ">
                        <card [product]="product" [cartModel]="cartShopping" (load)="isLoaded($event)"></card>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</section>