@import '../../../../styles.scss';

section {
    @include centerContent();

    .provieder-content{
        @include d-flex(column);
        text-align: center;

        div[heading] {
            width: 100%;
            font-size: 24px;
            font-weight: 700;
            margin: 20px auto;
        }
    
        div[btn-container] {
            width: 100%;
            margin: 5px auto;
            button {
                width: 70% !important;
                box-shadow:none !important;
                &[google]{
                    background-color: #f4f4f4;
                }
            }
        }
    }



    form {
        @include d-flex(column);

        mat-form-field {
            margin: 10px auto;
            width: 100%;
        }

        .signin-button-field {
            margin-top: 25px;
            text-align: center;

            * {
                margin: 5px auto !important;
            }

            p[terms] {
                font-size: 12px;
            }
        }
    }
}